.navbar {
    background-color: #d12421;
}

.venue p {
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: -.1px;
}
.venue h3 {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    letter-spacing: -.6px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.venue span {
    float: right;
}
