{% extends 'base.html' %}

{% block head %}
<title>NJIT Hours</title>
{% endblock %}

{% block body %}
<nav class="navbar">
  <a class="navbar-brand">NJIT Hours</a>
</nav>
<div class="content">
    {% for venue in venues %}
        <h2> {{ venue["name"] }} </h2>
        <p> Sunday: {{ venue["sunday"] }}
        <br>
        <p> Monday: {{ venue["monday"] }}
        <br>
        <p> Tuesday: {{ venue["tuesday"] }}
        <br>
        <p> Wednesday: {{ venue["wednesday"] }}
        <br>
        <p> Thursday: {{ venue["thursday"] }}
        <br>
        <p> Friday: {{ venue["friday"] }}
        <br>
        <p> Saturday: {{ venue["saturday"] }}
        <br>
    {% endfor %}
</div>
{% endblock %}
