{% extends 'base.html' %}

{% block head %}
<title>NJIT Hours</title>
{% endblock %}

{% block body %}
<nav class="navbar">
  <a class="navbar-brand">NJIT Hours</a>
  <span class="author">Made by Dale Nacianceno</span>
</nav>
<div id="home">
    <div id="searchBar">
        <div class="active-pink-3 active-pink-4 mb-4">
            <form method="POST" action="/search">
                <input class="form-control" id="search-bar" type="text" placeholder="Search" name="Search" aria-label="Search" onkeypress="blurIfEnter(event); return event.keyCode != 13;">
            </form>
        </div>
    </div>
    <div class="row" id="venue-list">

    </div>
</div>
<script>
    document.getElementById("search-bar").addEventListener("keyup", function() {
        search();
    });
    function search() {
        let input = document.getElementById("search-bar").value.toLowerCase();
        document.getElementById("venue-list").innerHTML = "";
        {% for i in range(venues|length) %}
            var venue = document.createElement("div");
            {% set venue = venues[i] %}
            if (input.length == 0) {
                venue.setAttribute("class", "venue col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3");
                venue.style.border = "1px solid #d12421";
                venue.innerHTML = "<h3> {{ venue['name'] }} </h3>";
                venue.innerHTML += "<p>SUN: <span>{{ venue['sunday'] }}</span></p>";
                venue.innerHTML += "<p>MON: <span>{{ venue['monday'] }}</span></p>";
                venue.innerHTML += "<p>TUES: <span>{{ venue['tuesday'] }}</span></p>";
                venue.innerHTML += "<p>WED: <span>{{ venue['wednesday'] }}</span></p>";
                venue.innerHTML += "<p>THURS: <span>{{ venue['thursday'] }}</span></p>";
                venue.innerHTML += "<p>FRI: <span>{{ venue['friday'] }}</span></p>";
                venue.innerHTML += "<p>SAT: <span>{{ venue['saturday'] }}</span></p>";
                document.getElementById("venue-list").appendChild(venue);
            } else {
                if ("{{ venue['name'] }}".toLowerCase().indexOf(input) >= 0) {
                    venue.setAttribute("class", "venue col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3");
                    venue.style.border = "1px solid #d12421";
                    venue.innerHTML = "<h3> {{ venue['name'] }} </h3>";
                    venue.innerHTML += "<p>SUN: <span>{{ venue['sunday'] }}</span></p>";
                    venue.innerHTML += "<p>MON: <span>{{ venue['monday'] }}</span></p>";
                    venue.innerHTML += "<p>TUES: <span>{{ venue['tuesday'] }}</span></p>";
                    venue.innerHTML += "<p>WED: <span>{{ venue['wednesday'] }}</span></p>";
                    venue.innerHTML += "<p>THURS: <span>{{ venue['thursday'] }}</span></p>";
                    venue.innerHTML += "<p>FRI: <span>{{ venue['friday'] }}</span></p>";
                    venue.innerHTML += "<p>SAT: <span>{{ venue['saturday'] }}</span></p>";
                    document.getElementById("venue-list").appendChild(venue);
                }
            }
        {% endfor %}
    }
    function blurIfEnter(event) {
        if (event.keyCode == 13) {
            document.activeElement.blur();
        }
    }
    search();

</script>
{% endblock %}
